<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eSports</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header  class="header ">
        <div class="menu margen-interno"> 
            <div>
                <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
            </div>
            <nav class="nav">
                <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                Inicio</a>
                <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                Noticias</a>
                <div class="subcontainer">
                    <div class="submenu">
                      <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                        Guias
                        <ul class="submenu-list"> 
                            <li><a href="../views/mk.html">Mortal Kombat <hr></a></li> 
                           <li><a href="../views/guiagtasa.html">GTA SA <hr></a></li>
                            <li><a href="../views/guiam.html">Minecraft <hr></a></li>
                           <li><a href="../views/guiamegaman.html">MegaMan <hr></a></li>
                          <li><a href="../views/GuiaGodOfWar2.html">God Of War 2 <hr></a></li>
                           <li><a href="../views/guiare4.html">Resident Evil 4 <hr></a></li>
                       </ul>
                    </div>
                  </div>
                <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                eSports</a>
              <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                Trucos</a> 
            </nav>
            <div>
                <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>   
            </div>
        </div>
    </header>
        <section class="section margen-interno">
            <div class="articulos">
                    <article class="article">
                        <img src="../public/img/cs.jpeg">
                         <h2>CS:GO Asia Championships </h2>
                         <p>Seis de los mejores equipos del mundo y dos de origen chino se enfrentarán en este gran campeonato que
                         tendrá lugar durante el próximo mes de noviembre. CS:GO está dando sus últimos coletazos a nivel competitivo
                        ya que con Counter-Strike 2 a la vuelta de la esquina parece que el 2023 será el último año en el que veamos
                        grandes competiciones en el veterano shooter de Valve. Este año el torneo se celebrará en la famosa ciudad
                        china de Shanghái del 8 al 12 de noviembre, repartiendola friolera de 500.000 dólares en premios entre los 8 
                        equipos que participarán en esta edición, seis de mejores del mundo y dos de Asia
                         </p>
                    </article>          
                    <article class="article">
                         <img src="../public/img/dave.jpg">
                        <h2>El jugador Daveeysde falleció </h2>
                         <p>Su club ha emitido un comunicado en el que confirma la desgraciada muerte de su jugador.
                        "Es con profunda tristeza que tenemos que comunicarles que, tras sufrir una descompensación el domingo,
                        falleció Daveeys", reza el comunicado de KRÜ. "No hay forma de suavizar esto, nos tomó a todos por sorpresa.
                         Daveeys, Santi, era un player espectacular y un compañero de primera. Con su característica humildad trabajadora,
                        se sentía orgulloso de poder inspirar y representar a su país y región en lo más alto del VALORANT mundial.
                         Fue su sueño, y lo vio cumplido. Todos en KRÜ acompañamos en este difícil momento a su familia y amigos, y
                          pedimos a toda la comunidad que los apoyen con su fuerza y cariño".  
                         </p>
                     </article>
                    <article class="article">
                         <img src="../public/img/faker.jpg">
                         <h2>Faker se tomará un descanso</h2>
                         <p>T1 ha anunciado que su estrella no participará en los próximos partidos para recuperarse totalmente de su
                         lesión, con Poby ocupando su lugar de forma temporal.Tras la confesión del mid laner su equipo, T1,
                         ha salido a la palestra para anunciar que Faker se tomará un descanso a nivel competitivo para recuperarse al
                        100 % de esta lesión, teniendo un tiempo extra de reposo y pudiendo centrarse en su tratamiento para estar de
                         vuelta en cuanto esté recuperado.
                         </p>
                     </article>
                    <article class="article">
                         <img src="../public/img/heretics.jpg">
                        <h2>Heretics Labs segunda edicion</h2>
                        <p>a aceleradora del mundo de los esports que comenzará con una nueva convocatoria en septiembre en busca de tres
                         proyectos cuyas propuestas de valor conformen ideas que puedan revolucionar el sector de los esports.
                        Heretics Labs busca proyectos emprendedores en fase semilla a los que poder apoyar junto a fondos de inversión Como
                         Sevenzonic Ventures,Kfund y All Iron Ventures que aportarán sus conocimientos a través de mentorías estratégicas,
                        asesorando a estos proyectos, así como premiándolos con 100.000 euros en Media 4 Equity así como recursos internos
                         para lanzar su idea al mercado.
                        </p>
                     </article>
                     <article class="article">
                        <img src="../public/img/nergy.avif">
                        <h2>Gamergy 2023 volvera</h2>
                        <p>Hace unas horas que GGTech ha anunciado la nueva edición del evento, Gamergy 2023, que volverá al recinto ferial
                         IFEMA Madrid del 15 ala 17 de diciembre repitiendo fórmula con triple formato (presencial, online y virtual) y que
                         ya ha puesto a la venta las primeras entradas "Early Bird 1", abonos de 3 días de venta anticipada con descuentos
                          exclusivos hasta agotar existencias.</p>
                    </article>
                    <article class="article">
                        <img src="../public/img/football.jpg">
                        <h2>campeones del eFootball 2023</h2>
                        <p>El torneo se dividió en dos categorías, por un lado teníamos el campeonato de eFootball para dispositivos móviles
                         y por el otro teníamos la categoría de la competición en consolas. En la primera El brasileño El_Mysterio, natural
                        de Brasil, se hizo con el triunfo mientras que en consolas fue el japonés UDI el que se llevó la victoria. Ambos
                        jugadores se embolsaron 10.000 dólares del primer premio. "Me siento súper emocionado, no puedo creerlo. Estaba
                         pensando en tantas cosas diferentes en ese momento. En la tanda de penaltis, tuve que pensar dónde tirar, dónde
                         parar, por suerte me funcionó bien, ¡y ahora soy el campeón!", comentó El_Mysterio tras su victoria.</p>
                    </article>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <img src="../public/img/giphy.gif">
                </div>
                <div class="publicidad">         
                    <img src="../public/img/publi2.gif">
                </div>
                <div class="publicidad">              
                    <img src="../public/img/giphy 2.gif">
            </div>
            </aside>
            </section>
            <footer>
                <div class="olas margen-interno">
                    <div class="ola" id="ola1"></div>
                    <div class="ola" id="ola2"></div>
                    <div class="ola" id="ola3"></div>
                    <div class="ola" id="ola4"></div>
                </div>
                <ul class="redsocial">
                <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
                <li><a href="https://www.instagram.com/universefriki/"> <img src="../public/img/ig.png"> </a></li>
                </ul>
                <ul class="menufooter">
                    <li><a href="#">UniverseFriki@gmail.com</a></li>
                    <li><a href="#">Informacion Legal</a></li>
                    <li><a href="#">Politica de Privacidad</a></li>
                
                </ul>
                <p>@2023 Universe Friki I All Rights Reserved</p>
            </footer>
        
        </body>
        </html>
        