<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Theft Auto San Andreas</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    Noticias</a>
                    <div class="subcontainer">
                        <div class="submenu">
                          <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                            Guias
                            <ul class="submenu-list"> 
                                <li><a href="../views/mk.html">Mortal Kombat</a></li> 
                               <li><a href="../views/guiagtasa.html">GTA SA</a></li>
                                <li><a href="../views/guiam.html">Minecraft</a></li>
                               <li><a href="../views/guiamegaman.html">MegaMan</a></li>
                              <li><a href="../views/GuiaGodOfWar2.html">God Of War 2</a></li>
                               <li><a href="../views/guiare4.html">Resident Evil 4</a></li>
                           </ul>
                        </div>
                      </div>
                    <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                    eSports</a>
                  <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                    Trucos</a> 
                </nav>
                <div>
                    <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>
                </div>
            </div>
        </header>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../public/img/misiones gta.jpg">
                    <h2>Misiones</h2>
                    <p>Las misiones son importantes para el 100% y no solo las principales sino que tambien las secundarias
                    y de negocios, estas misiones se puden ir haciendo mientras avanzas en el modo historia del juego y las 
                    secundarias se pueden hacer desviandose de la historia para hacer misiones a personajes secundarias
                    </p>
                </article>   
                <article class="article">
                    <img src="../public/img/propiedades.jpg">
                    <h2>Propiedades</h2>
                    <p>Es importante tener mucho dinero para comprar cada una de las propiedades que estan repartidas
                     por todas las ciudades, tambien es obligatorio avanzar en la historia para tener mas propiedades que comprar, 
                    dependiendo de la propiedad puede ser muy barato o muy caro y cada propiedad se encuentra en lugares faciles de
                     encontrar a simple vista</p>
                </article>    
                <article class="article">
                    <img src="../public/img/autoescuela.jpg">
                    <h2>La Autoescuela</h2>
                    <p>En las autoescuelas solo es necesario pasarselo con medallas de bronce, las autoescuela son moto, carro y avion.
                    la mas facil es el de las motos despues de esa sigue el del avion, la cual es obligatoria para avanzar en la historia.
                     y por ultimo esta la de carro la cual es la mas dificil por sus ultimos retos que tiene</p>
                </article>
                <article class="article">
                    <img src="../public/img/carreras.jpg">
                    <h2>Carreras</h2>
                    <p>En las carreras solo es necesario quedar de primero, cada carrera es diferente ya que hay de moto, atletismo,
                    de barcos, de autos, de bicicletas y de aviones. cada uno tendra sus propios requisitos y sus diferentes dificultades,
                     las carreras mas dificiles son las de auto debido a que siempre va a ver autos andando por ahi</p>
                </article>
                <article class="article">
                    <img src="../public/img/trabajos.jpg">
                    <h2>Trabajos</h2>
                    <p>Es necesario completar estos trabajos dependiendo del nivel que nos pidan, algunos de estos trabajos serian policia, 
                    bomberos, medico, taxista, camionero y repartidor. algunos de estos trabajos te dan recompensas te dan algunos beneficios
                     por ejemplo, policia te da mayor resistencia en el chaleco antibala, bombero te da inmunidad al fuego y medico te aumenta
                      la vida</p>
                </article>
                <article class="article">
                    <img src="../public/img/foto.jpg">
                    <h2>Fotografias</h2>
                    <p>en san fiero tenemos que ir por diferentes lugares para tomar una fotografia de un lugar importante
                        para la ciudad, para algunas de estas fotografias es necesario avanzar en la historia hasta desbloquear el puente
                        que conecta con el desierto, debido a que en el puente se encuentran dos fotografias que son mas faciles de tomar
                        desde la mitad del puenta</p>
                </article>
                <article class="article">
                    <img src="../public/img/herraduras.jpg">
                    <h2>Herraduras</h2>
                    <p>derrota a osmund saddler, jefe del capitulo 14, este es el jefe final del juego, pose dos face en la cual la segunda
                     se vuelve una masa gigantesca, lo mas recomendable es que utilizes un lanzacohetes contra el jefe, pero ya que este jefe 
                     tiene multiples fases primero te recomendamos dispararle en los ojos y despues de eso cuando ya este en su ultima face
                      ya podras usar el lanzacohetes</p>
                </article>
                <article class="article">
                    <img src="../public/img/grafitis.jpg">
                    <h2>Grafitis</h2>
                    <p>en los santos debemos encontrar los 100 grafitis, aunque parescan muchos son muy faciles de 
                    encontrar, muchos de estos grafitis lo podemos encontrar a simple vista en paredes o en paredes
                     pero algunas estan realmente escondidas en callejones o en algunos edificios pequeños</p>
                </article>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <img src="../public/img/giphy.gif">
                </div>
                <div class="publicidad">         
                    <img src="../public/img/publi2.gif">
                </div>
                <div class="publicidad">              
                    <img src="../public/img/giphy 2.gif">
            </div>
            </aside>
        </section>
        <footer>
            <div class="olas margen-interno">
                <div class="ola" id="ola1"></div>
                <div class="ola" id="ola2"></div>
                <div class="ola" id="ola3"></div>
                <div class="ola" id="ola4"></div>
            </div>
            <ul class="redsocial">
            <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
            <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
            </ul>
            <ul class="menufooter">
                <li><a href="#">UniverseFriki@gmail.com</a></li>
                <li><a href="#">Informacion Legal</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            
            </ul>
            <p>@2023 Universe Friki I All Rights Reserved</p>
        </footer>
    </body>
    </html>