<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaMan</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../public/img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    Noticias</a>
                    <div class="subcontainer">
                        <div class="submenu">
                          <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                            Guias
                            <ul class="submenu-list"> 
                                <li><a href="../views/mk.html">Mortal Kombat</a></li> 
                               <li><a href="../views/guiagtasa.html">GTA SA</a></li>
                                <li><a href="../views/guiam.html">Minecraft</a></li>
                               <li><a href="../views/guiamegaman.html">MegaMan</a></li>
                              <li><a href="../views/GuiaGodOfWar2.html">God Of War 2</a></li>
                               <li><a href="../views/guiare4.html">Resident Evil 4</a></li>
                           </ul>
                        </div>
                      </div>
                    <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                     eSports</a>
                  <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                    Trucos</a> 
                </nav>
                <div>
                    <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>  
                </div>
            </div>
        </header>
     </div>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../public/img/launch octopus.gif">
                    <h2>LAUNCH OCTOPUS</h2>
                    <p>Launch octopus es un robot pulpo del nivel oceano, es un jefe que lucha 
                        tirando torpedos y creando tornados acuaticos, su debilidad es el ROLLING SHIELD y el ataque BOOMERANG CUTTER
                        cortandole sus tentaculos, cuando lo derrota este te da la arma HOMING TORPEDO</p>

                    </article>   
                    <article class="article">
                        <img src="../public/img/chill penguin.gif">
                        <h2>CHILL PENGUIN</h2>
                        <p>Chill penguin es un robot pinguino del nivel polo norte, es un jefe que 
                        lucha tirando trozo de hielo, un ataque de barriga, un ataque de salto, una ventisca de hielo y un aliento
                        que puede congelar a megaman y a su vez creando dos estatuas de hielo, su debilidad es el FIRE WAVE, 
                        cuando lo derrota este te da la arma SHOTGUN ICE</p>
                    </article>    
                    <article class="article">
                        <img src="../public/img/flame mammoth.gif">
                        <h2>FLAME MAMMOTH</h2>
                        <p>Flame mammoth es un robot mamu del nivel fabrica, es un jefe que lucha 
                        tirando bolas de fuego, tirando una mancha de petroleo para paralizar a megaman y saltando tratando de aplastar 
                        a megaman, su debilidad es el STOM TORNADO, cuando lo derrota este te da la arma FIRE WAVE</p>
                    </article>
                    <article class="article">
                        <img src="../public/img/boomer kuwanger.gif">
                        <h2>BOOMER KUWANGER</h2>
                        <p>boomer kuwanger es un robot humanoide del nivel torre, es un jefe que lucha tirando 
                         su boomerang de la cabeza, te tira contra el techo y se puede teletransportar, su debilidad es el HORMING TORPEDO,
                        cuando lo derrota este te da la arma BOOMERANG CUTTER</p>
                    </article>
                     <article class="article">
                         <img src="../public/img/Sting Chameleon.gif">
                         <h2>STING CHAMELEON</h2>
                        <p>sting kuwanger es un robot camaleon del nivel bosque, es un jefe que lucha pegado 
                         en la pared, camuflandose, tirando tres laser, lanzando su lengua para atacarte y se cuelga del techo para tirar puas del techo, su debilidad es el BOOMERANG CUTTER, cuando lo derrota este te da la arma CHAMELEON STING</p>
                    </article>   
                     <article class="article">
                         <img src="../public/img/Spark Mandrill.gif">
                         <h2>SPARK MANDRILL</h2>
                         <p>spark mandrill es un robot orangutan del nivel planta de energia, es un jefe que lucha 
                          golpeando al suelo y coriendo hacia megaman para golpearlo, su debilida es el SHOTGUN ICE, cuando lo derrota este te da
                         la arma ELECTRIC SPARK</p>
                    </article>    
                    <article class="article">
                        <img src="../public/img/storm eagle.gif">
                        <h2>STORM EAGLE</h2>
                        <p>storm eagle es un robot aguila del nivel aeropuerto, es un jefe que lucha con un ataque de aleteo 
                            que te empuja para tirarte al vacio, un tornado que empuja a megaman, tirando un huevo del que saldran varios pajaritos y
                           tacleando desde el aire o desde la izquierda o derecha, su debilidad es el CHAMELEON STING, cuando lo derrota este te da
                          la arma STOM TORNADO</p>
                    </article>
                    <article class="article">
                        <img src="../public/img/armored armadillo.gif">
                        <h2>ARMORED ARMADILLO</h2>
                        <p>armored armadillo es un robot armadillo del nivel mina, es un jefe que lucha disparando un laser,
                         convirtiendose en una bola mientras rebota por toda la zona y su blindaje absorve las balas y las devuelve, su debilidad es el
                        ELECTRIC SPARK que tambien le destruira su blindaje, cuando lo derrota este te da la arma ROLLING SHIELD</p>
                    </article>
        </div>
        <aside class="aside">
            <div class="publicidad">
                <img src="../public/img/giphy.gif">
            </div>
            <div class="publicidad">         
                <img src="../public/img/publi2.gif">
            </div>
            <div class="publicidad">              
                <img src="../public/img/giphy 2.gif">
        </div>
        </aside>
    </section>
    <footer>
        <div class="olas margen-interno">
            <div class="ola" id="ola1"></div>
            <div class="ola" id="ola2"></div>
            <div class="ola" id="ola3"></div>
            <div class="ola" id="ola4"></div>
        </div>
        <ul class="redsocial">
        <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
        <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
        </ul>
        <ul class="menufooter">
            <li><a href="#">UniverseFriki@gmail.com</a></li>
            <li><a href="#">Informacion Legal</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
        
        </ul>
        <p>@2023 Universe Friki I All Rights Reserved</p>
    </footer>
<body>
    
</body>
</html>
