<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resident Evil 4 </title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header  class="header ">
        <div class="menu margen-interno"> 
            <div>
                <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
            </div>
            <nav class="nav">
                <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                Inicio</a>
                <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                Noticias</a>
                <div class="subcontainer">
                    <div class="submenu">
                      <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                        Guias
                        <ul class="submenu-list"> 
                            <li><a href="../views/mk.html">Mortal Kombat <hr></a></li> 
                           <li><a href="../views/guiagtasa.html">GTA SA <hr></a></li>
                            <li><a href="../views/guiam.html">Minecraft <hr></a></li>
                           <li><a href="../views/guiamegaman.html">MegaMan <hr></a></li>
                          <li><a href="../views/GuiaGodOfWar2.html">God Of War 2 <hr></a></li>
                           <li><a href="../views/guiare4.html">Resident Evil 4 <hr></a></li>
                       </ul>
                    </div>
                  </div>
                <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                eSports</a>
              <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                Trucos</a> 
            </nav>
            <div>
                <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>   
            </div>
        </div>
    </header>
<section class="section margen-interno">
        <div class="articulos">
            <article class="article">
                <img src="../public/img/cuchillo.jpg">
                <h2>Tacticas basicas para Cuchillos</h2>
                <p>Desvia un ataque del enemigo con el cuchillo. se desbloquea por realizar un parry o desviar cualquier ataque enemigo usando
                 unicamente el cuchillo, para hacer bien esto debemos de tener mucha precision a la hora de hacer el parry o desviarlo,
                  porque si lo hacemos mal lo unico que vamos a hacer es recibir daño
                </p>
            </article>   
            <article class="article">
                <img src="../public/img/mejora de armas.jpg">
                <h2> mejora tu arma</h2>
                <p>Se desbloquea por comprar cualquier mejora de cualquier arma en el buhonero, cuando compres una arma se activara una opcion 
                para poder mejorar tu arma, despues para mejorarla debemos de tener una cantidad de precio dependiendo de la mejora o el tipo
             de arma que estemos mejorando</p>
            </article>    
            <article class="article">
                <img src="../public/img/mejora exclusivas.jpg">
                <h2>obra maestra</h2>
                <p>Se desbloquea por comprar la mejora exclusiva de cualquier arma en el buhonero, esto se puede hacer comprando todas sus
                 mejoras, o consiguiendo un cupon buscando en todos los lugares del mapa como dentro de una casa o destruyendo una caja
                  o barril que contegan el cupon 
                </p>
            </article>
            <article class="article">
                <img src="../public/img/Monstruo del lago.jpg">
                <h2>cazador de arpon </h2>
                <p>derrota al mounstruo del lago, jefe del capitulo 3, te recomendamos no dispararle al rio al inicio si no quieres
                 convertite en comida de pez. para ganarle evita moverte en linea recta, la pelea sera en bote, en el cual deberemos usar
                 los arpones que se encuentra dentro del bote y asi poder matar este terrible jefe</p>
            </article>
            <article class="article">
                <img src="../public/img/bitores mendez.jpg">
                <h2>Derrota a Bitores Mendez</h2>
                <p>jefe del capitulo 6, contra este jefe te recomendamos una estrategia mas defenciba y cuando el jefe este quieto dispararle
                 en la cabeza, tambien es recomendable usar granadas para quitarle mas vida a bitores mendez, tambien ten cuidado con el
                 fuego del escenario de la pelea y usar los barriles explosivos</p>
            
            </article>
            <article class="article">
                <img src="../public/img/ramon salazar.jpg">
                <h2>Gracias, pero no</h2>
                <p>derrota a ramon salazar, jefe del capitulo 12, te recomendamos llevar un huevo dorado para hacer mas facil la pelea,
                ramon salazar es alergicos a los huevos, mas que todo a los huevos dorado y si lo utiliza lo va a derrotar demaciado
                 facil, pero te recomendamos que lleve mas de dos huevos dorados por si fallas el tiro</p>
            </article>
            <article class="article">
                <img src="../public/img/osmud saddler.jpg">
                <h2>Morir es morir</h2>
                <p>derrota a osmund saddler, jefe del capitulo 14, este es el jefe final del juego, pose dos face en la cual la segunda
                 se vuelve una masa gigantesca, lo mas recomendable es que utilizes un lanzacohetes contra el jefe, pero ya que este jefe 
                 tiene multiples fases primero te recomendamos dispararle en los ojos y despues de eso cuando ya este en su ultima face
                  ya podras usar el lanzacohetes</p>
            </article>
            <article class="article">
                <img src="../public/img/tesoros.jpg">
                <h2>Bandido</h2>
                <p>obten todos los tesoros indicados en el mapa de tesoros del pueblo en una sola partida. en el pueblo hay un total de
                  39 tesoros que debemos obtener en una misma partida, estos tesoros se pueden encontrar dentro de la casa o tambien
                 podemos comprar un mapa que vende buhonero</p>
            </article>
        </div>
        <aside class="aside">
            <div class="publicidad">
                <img src="../public/img/giphy.gif">
            </div>
            <div class="publicidad">         
                <img src="../public/img/publi2.gif">
            </div>
            <div class="publicidad">              
                <img src="../public/img/giphy 2.gif">
        </div>
        </aside>
    </section>
    <footer>
        <div class="olas margen-interno">
            <div class="ola" id="ola1"></div>
            <div class="ola" id="ola2"></div>
            <div class="ola" id="ola3"></div>
            <div class="ola" id="ola4"></div>
        </div>
        <ul class="redsocial">
        <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
        <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
        </ul>
        <ul class="menufooter">
            <li><a href="#">UniverseFriki@gmail.com</a></li>
            <li><a href="#">Informacion Legal</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
        
        </ul>
        <p>@2023 Universe Friki I All Rights Reserved</p>
    </footer>
</body>
</html>