<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guias</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="padre">
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../public/img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    Noticias</a>
                    <div class="subcontainer">
                        <div class="submenu">
                          <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                            Guias
                            <ul class="submenu-list"> 
                                <li><a href="../views/mk.html">Mortal Kombat</a></li> 
                               <li><a href="../views/guiagtasa.html">GTA SA</a></li>
                                <li><a href="../views/guiam.html">Minecraft</a></li>
                               <li><a href="../views/guiamegaman.html">MegaMan</a></li>
                              <li><a href="../views/GuiaGodOfWar2.html">God Of War 2</a></li>
                               <li><a href="../views/guiare4.html">Resident Evil 4</a></li>
                           </ul>
                        </div>
                      </div>
                    <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                        eSports</a>
                  <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                    Trucos</a> 
                </nav>
                <div>
                    <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>
                </div>
            </div>
        </header>
    <section class="section margen-interno">
        <div class="articulos">
               <article class="article">
                <img src="../public/img/mk.jpg">
                <h2>Guia de Mortal Kombat</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                <a href="../views/mk.html">Leer mas..</a>
            </article>
            <article class="article">
                <img src="../public/img/gtasa.jpg">
                <h2>Guia de Gta San Andreas</h2>
                <p>En esta guia te ayudaremos como conseguir el 100% del juego y sus recompensas
                 las misiones son importantes para el 100% y no solo las principales sino que tambien las secundarias
                 y de negocios
                </p>
                <a href="../views/guiagtasa.html">Leer mas..</a>
            </article>   
            <article class="article">
                <img src="../public/img/mc.jpg">
                <h2>Guia de Minecraft</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                <a href="../views/guiam.html">Leer mas..</a>
            </article>    
            <article class="article">
                <img src="../public/img/mm.jpg">
                <h2>Guia de MegaMan</h2>
                <p>En esta guia te enseñaremos a pasarse megaman X al 100% como tambien a enseñarte las distintas debilidades de todo los jefes y como derrotar al
                jefe final, pero primero iniciaremos desde el inicio del juego.
                 durante este proceso nos encontraremos con distintos enemigos y con dos subjefes que son faciles de derrotar pero te
                recomendamos que no te pongas debajo de ellos ya que te pueden aplastar cuando los derrotas.
                </p>
                <a href="../views/guiamegaman.html">Leer mas..</a>
            </article>
            <article class="article">
                <img src="../public/img/gow2.jpg">
                <h2>Guia de God Of War 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                <a href="../views/GuiaGodOfWar2.html">Leer mas..</a>
            </article>
            <article class="article">
                <img src="../public/img/re4.jpg">
                <h2>Guia de Resident Evil 4</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                <a href="../views/guiare4.html">Leer mas..</a>
            </article>
        </div>

    </section>
    <footer>
        <div class="olas margen-interno">
            <div class="ola" id="ola1"></div>
            <div class="ola" id="ola2"></div>
            <div class="ola" id="ola3"></div>
            <div class="ola" id="ola4"></div>
        </div>
        <ul class="redsocial">
        <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
        <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
        </ul>
        <ul class="menufooter">
            <li><a href="#">UniverseFriki@gmail.com</a></li>
            <li><a href="#">Informacion Legal</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
        
        </ul>
        <p>@2023 Universe Friki I All Rights Reserved</p>
    </footer>
</body>
</html>