<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God Of War 2</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="padre">
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../public/img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    Noticias</a>
                    <div class="subcontainer">
                        <div class="submenu">
                          <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                            Guias
                            <ul class="submenu-list"> 
                                <li><a href="../views/mk.html">Mortal Kombat</a></li> 
                               <li><a href="../views/guiagtasa.html">GTA SA</a></li>
                                <li><a href="../views/guiam.html">Minecraft</a></li>
                               <li><a href="../views/guiamegaman.html">MegaMan</a></li>
                              <li><a href="../views/GuiaGodOfWar2.html">God Of War 2</a></li>
                               <li><a href="../views/guiare4.html">Resident Evil 4</a></li>
                           </ul>
                        </div>
                      </div>
                    <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                    eSports</a>
                  <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                    Trucos</a> 
                </nav>
                <div>
                    <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>
                </div>
            </div>
        </header>
<section class="section margen-interno">
    <div class="articulos">
            <article class="article">
                <img src="../public/img/coloso de rodas.jpg">
                 <h2>vence los primeros jefes </h2>
                 <p>No te entretengas demasiado con los soldados que hay en la zona. Esquiva
                los manotazos del Coloso y utiliza la Furia de Poseidón para dañarle
                rápidamente (también puedes utilizar combos). Cuando el Coloso reciba
                 suficiente daño, se quedará atontado</p>
            </article>          
            <article class="article">
                 <img src="../public/img/rey barbaro.jpg">
                <h2>Sigue venciendo los jefes</h2>
                 <p>aqui se encuentra el Rey barbaro que te persigue en su caballo de fuego con su martillo,luego se encuentra
                Medusa un ser gigante que te perseguira con su cola y si no estas atento te volvera piedra con su mirada y te 
                matara, luego esta teseo un heroe bastante veloz y con su actitud engreida en su combate se vuelve invisible
                asi que tienes que estar atento a sus pisadas en el agua    
                 </p>
             </article>
            <article class="article">
                 <img src="../public/img/kraken.jpg">
                 <h2>vence los últimos jefes </h2>
                 <p>Los ultimos jefes son el kraken un combate algo tedioso ya que el kraken te atacara con sus tentaculos
                 y te intentara comer,  las hermanas del destinio son unas deidades muy poderosas porque estas controlan
                el tiempo y kratos las quiere vencer para vengarse de su padres zeus, y finalmente Zeus luego de derrotar
                las hermanas kratos puede utilizar su poder para volver en el tiempo y lo utiliza para encer a Zeus</p>
             </article> 
               <article class="article">
                <img src="../public/img/zeus.jpeg">
                <h2>Vence a zeus</h2>
              <p>En principio te enfrentarás a Zeus en forma de gigante. Zeus te lanzará rayos,
                dará un puñetazo con ondas expansiva o incluso golpeará toda la plataforma, momento
                en el que tendrá que saltar y planear para que no te dañe. No intentes acercarte para
                golpearle como al Coloso de Rodas, soplará y volverá a echarte al fondo del escenario</p>
           </article>
            <article class="article">
                 <img src="../public/img/reto de los titanes.jpg">
                <h2>Completa el reto de los titanes</h2>
                <p>esto se hace despues de completar el modo historia por primera vez son diferentes oleadas de enemigos
                y cada vez se hace mas dificil, asi que esfuerzate en sobrevivir
                </p>
             </article>
             <article class="article">
                <img src="../public/img/ojos de gorgonas.jpg">
                <h2>recoge los  ojos de gorgona</h2>
                <p>los ojos de gorgona se consiguen de los cofres y sirve para mejorar la salud maxima de kratos</p>
            </article>
            <article class="article">
                <img src="../public/img/plumas del fenixjpg.jpg">
                <h2>recoge las plumas del fenix</h2>
                <p>las plumas del fenix se consiguen en los cofres y sirven para mejorar la barra magia de kratos</p>
            </article>
            <article class="article">
                <img src="../public/img/cofres.jpg">
                <h2>Recoge  los cofres uber</h2>
                <p>esto se hace a medida que vas completando el juego asi que, revisa bien en las esquinas puede que haya
                un cofre escondido
                </p>
            </article>

    </div>
        <aside class="aside">
            <div class="publicidad">
                <h4>Publicidad</h4>
                <img src="../public/img/galaxia.jpg">
            </div>
            <div class="publicidad">
                <h4>Publicidad</h4>
                <img src="../public/img/galaxia.jpg">
            </div>
            <div class="publicidad">
                <h4>Publicidad</h4>
                <img src="../public/img/galaxia.jpg">
            </div>
            <div class="publicidad">
                <h4>Publicidad</h4>
                <img src="../public/img/galaxia.jpg">
            </div>
        </div>
        </aside>
    </section>
    <footer>
        <div class="olas margen-interno">
            <div class="ola" id="ola1"></div>
            <div class="ola" id="ola2"></div>
            <div class="ola" id="ola3"></div>
            <div class="ola" id="ola4"></div>
        </div>
        <ul class="redsocial">
        <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
        <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
        </ul>
        <ul class="menufooter">
            <li><a href="#">UniverseFriki@gmail.com</a></li>
            <li><a href="#">Informacion Legal</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
        
        </ul>
        <p>@2023 Universe Friki I All Rights Reserved</p>
    </footer>

</body>
</html>
