<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.png.PNG" type="image/x-icon">
</head>
<body>
    <div class="padre">
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><i class="fa fa-home"></i></i>Inicio</a>
                    <a href=""><i class="fa fa-bath"></i>Noticias</a>
                    <a href=""><i class="fa fa-bath"></i>Trucos</a>
                    <a href=""><i class="fa fa-bath"></i>Guias</a>
                    <a href=""><i class="fa fa-bath"></i>Ea Sports</a>
                </nav>
                <div class="imglogin1">
                    <a href="https://www.instagram.com/universefriki/">
                        <img src="../img/ig.png">
                    </a>
                    <a href="../views/Inicio de sesion.html">
                        <img src="../img/login.png" alt=""> 
                    
                    </a>
                    <a href="https://www.google.com..">
                        <img src="../img/wasa.png">
                    </a>
                </div>
            </div>
            <section class="slider ">
                <div class="slider-container">
                    <div class="slider-item">
                        <img src="../img/slider.webp" alt="Imagen 1">
                    </div>
                    <div class="slider-item">
                        <img src="../img/slider.webp" alt="Imagen 2">
                    </div>
                    <div class="slider-item">
                        <img src="../img/slider.webp" alt="Imagen 3">
                    </div>
                </div>
            </section>
<script src="../javascrip/slider.js"></script>
    </header>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../img/1.avif">
                    <h3>26 DE AGOSTO DE 2023</h3>
                    <h2>Titulo de la noticia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                    <a href="">Leer mas..</a>
                </article>   
                <article class="article">
                    <img src="../img/1.avif">
                    <h3>26 DE AGOSTO DE 2023</h3>
                    <h2>Titulo de la noticia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                    <a href="">Leer mas..</a>
                </article>    
                <article class="article">
                    <img src="../img/1.avif">
                    <h3>26 DE AGOSTO DE 2023</h3>
                    <h2>Titulo de la noticia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                    <a href="">Leer mas..</a>
                </article>
                <article class="article">
                    <img src="../img/1.avif">
                    <h3>26 DE AGOSTO DE 2023</h3>
                    <h2>Titulo de la noticia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                    <a href="">Leer mas..</a>
                </article>
                <nav class="navegacion1">
                    <a href="#">Inicio</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">Final</a>
                </nav>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../img/galaxia.jpg">
                </div>
            </div>
            </aside>
        </section>
        <footer class="footer margen-interno">
            <nav class="pie">
                <a>Sobre Nosotros</a>
            </nav>
        </footer>
    </div>
</body>
</html>