<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="padre">
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../public/img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    Noticias</a>
                    
                    <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                    Guias</a>
                    <a href=""><ion-icon name="game-controller-outline"></ion-icon>
                    Ea Sports</a>
                  <a href=""><ion-icon name="key-outline"></ion-icon>
                    Trucos</a>
                </nav>
                <div class="imglogin1">
                    <a href="../views/Inicio de sesion.html">
                    <img src="../public/img/login.png">       
                    </a>
                </div>
            </div>
            <section class="slider ">
                <div class="slider-container">
                    <div class="slider-item">
                        <img src="../public/img/slider.webp" alt="Imagen 1">
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/slider.webp" alt="Imagen 2">
                    </div>
                    <div class="slider-item">
                        <img src="../public/img/slider.webp" alt="Imagen 3">
                    </div>
                </div>
            </section>
        </header>
<script src="../public/javascrip/slider.js"></script>
<footer>
    <div class="olas margen-interno">
        <div class="ola" id="ola1"></div>
        <div class="ola" id="ola2"></div>
        <div class="ola" id="ola3"></div>
        <div class="ola" id="ola4"></div>
    </div>
    <ul class="redsocial">
    <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
    <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
    </ul>
    <ul class="menufooter">
        <li><a href="#">UniverseFriki@gmail.com</a></li>
        <li><a href="#">Informacion Legal</a></li>
        <li><a href="#">Politica de Privacidad</a></li>
    
    </ul>
    <p>@2023 Universe Friki I All Rights Reserved</p>
</footer>
    </div>
</body>
</html>