<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesion</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="/Public/img/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body class="bodylogin">
    <header class="header">
    <div class="menu margen-interno">
        <div>
            <img class="imglogo" src="../img/logo.png.PNG" >
        </div>
        <nav class="nav">
            <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
            </i>Inicio</a>
            <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
            </i>Noticias</a>
            <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
            </i>Guias</a>
            <a href=""><ion-icon name="game-controller-outline"></ion-icon>
            </i>Ea Sports</a>
            <a href="../views/Noticias.html"><ion-icon name="key-outline"></ion-icon>
            </i>Trucos</a>
        </nav>
        <div class="imglogin1">
        </div>
    </div>
    </header>
    <img class="fondo" src="../public/img/galaxia.jpg" alt="">
    <div class="formulario1">
        <link href="../public/img/galaxia.jpg">
        <h1>INICIO DE SESION</h1>
        <form method="post">
            <div class="usuario1">
                <input type="text" required>
                <label>Correo electronico</label>
            </div>
            <div class="usuario1">
                <input type="password"required>
                <label>Contraseña</label>
            </div>
            <div class="recordar1">
                <a href="">¿Olvido su contraseña?</a>
            </div>
            <input type="submit" value="Iniciar Sesion" class="boton_iniciar">
            <div class="registrarse1">
                <a href="">Quiero hacer el registro</a>
            </div>
        </form>
    </div>

</body>
</html>