<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortal Kombat</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header  class="header ">
        <div class="menu margen-interno"> 
            <div>
                <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
            </div>
            <nav class="nav">
                <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                Inicio</a>
                <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                Noticias</a>
                <div class="subcontainer">
                    <div class="submenu">
                      <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                        Guias
                        <ul class="submenu-list"> 
                            <li><a href="../views/mk.html">Mortal Kombat <hr></a></li> 
                           <li><a href="../views/guiagtasa.html">GTA SA <hr></a></li>
                            <li><a href="../views/guiam.html">Minecraft <hr></a></li>
                           <li><a href="../views/guiamegaman.html">MegaMan <hr></a></li>
                          <li><a href="../views/GuiaGodOfWar2.html">God Of War 2 <hr></a></li>
                           <li><a href="../views/guiare4.html">Resident Evil 4 <hr></a></li>
                       </ul>
                    </div>
                  </div>
                <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                eSports</a>
              <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                Trucos</a> 
            </nav>
            <div>
                <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>   
            </div>
        </div>
    </header>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../public/img/modo historia 50.jpg">
                    <h2>Completa el 50%  modo historia</h2>
                    <p>para esto necesitas avanzar en el modo historia hasta el capitulo 8 protagonizado por sub zero, 
                    antes de eso debemos jugar los anteriores capitulos, despues de eso podremos jugar el capitulo 8, es
                    necesario terminar este capitulo ganando la batall contra scorpion y ver como subzero es atrapado por su antiguo clan el lin kuei y asi terminado el capitulo
                    </p>
                </article>   
                <article class="article">
                    <img src="../public/img/modo historia 100.jpg">
                    <h2>Completa el 100% modo historia</h2>
                    <p>para esto necesitaras completar el modo historia hasta el capitulo 16 protagonizado por raiden,
                     despues de terminar los capitulos anteriores, solo nos quedaria completar este capitulo, el cual
                     tendremos que luchar con liu kan que habia decidido a matar a raiden su maestro debido a que el
                     creia que fue por su culpa que la gran mayoria de sus amigos habian muerto, despues de ganale a 
                     liu kan debemos tener una ultima pelea con el jefe final para asi completar el modo historia</p>
                </article>    
                <article class="article">
                    <img src="../public/img/tutorial.jpg">
                    <h2>Completa el  tutorial</h2>
                    <p>debes hacer todo el tutorial para conseguirlo, esto te ayudara aprender el estilo de pelea del
                    juego, con la ayuda del tutorial podemos volvernos buenos con cualquier personaje y con esto
                     podras hacer buenos combos durante las peleas y asi tener mas facilidad en las peleas tanto en
                     solitario como tambien en las peleas multijugador o con amigos</p>
                </article>
                <article class="article">
                    <img src="../public/img/fatality.gif">
                    <h2>¡Realiza un Fatality!</h2>
                    <p>las fatalitys se pueden realizar con cualquier personaje del juego, cada personaje pose dos
                    fatalitys diferentes y cada una requiere una combinacion diferente, las fatalitys solo se
                     pueden realizar cuando ganes la pelea con el rival o usando el modo practica que te da la opcion
                      de usar la fatality y te enseña como se hace y asi desbloquea mas facilmente el logro</p>
                </article>
                <article class="article">
                    <img src="../public/img/combo.gif">
                    <h2>Realiza un kombo de 10 golpes</h2>
                    <p>esto se hace solo dando golpes basicos o haciendo diferentes combos, solo es necesario dar 10
                    golpes, es sugerido practicarlo en el modo entrenamiento, donde podras practicar cada combo hasta 
                    que te salga bien, los combos de 10 golpes son dificiles si lo hacemos sin tener practica alguna
                     pero si lo hacemos teniendo practica nos podra salir el combo de 10 golpes hasta incluso haciendo mas de 10 golpes</p>
                </article>
                <article class="article">
                    <img src="../public/img/lanzamiento frontales.jpg">
                    <h2>Realiza todos los lanzamientos </h2>
                    <p>esto se puede hacer con cualquier personaje y para hacerlo se debe hacer un combo para hacer estos
                     movimientos, este tambien es recomendable practicarlo ya que si lo hacemos sin tener practica va a 
                     ser casi imposible que nos salga el movimiento, pero con la practica se nos hara demaciado facil y
                      sencillo</p>
                </article>
                <nav class="navegacion1">
                    <a href="../views/mk.html">1</a>
                    <a href="../views/mk2.html">2</a>
                </nav>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <img src="../public/img/giphy.gif">
                </div>
                <div class="publicidad">         
                    <img src="../public/img/publi2.gif">
                </div>
                <div class="publicidad">              
                    <img src="../public/img/giphy 2.gif">
            </div>
            </aside>
        </section>
        <footer>
            <div class="olas margen-interno">
                <div class="ola" id="ola1"></div>
                <div class="ola" id="ola2"></div>
                <div class="ola" id="ola3"></div>
                <div class="ola" id="ola4"></div>
            </div>
            <ul class="redsocial">
            <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
            <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
            </ul>
            <ul class="menufooter">
                <li><a href="#">UniverseFriki@gmail.com</a></li>
                <li><a href="#">Informacion Legal</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            
            </ul>
            <p>@2023 Universe Friki I All Rights Reserved</p>
        </footer>
    </body>
 </html>