<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortal Kombat</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header  class="header ">
        <div class="menu margen-interno"> 
            <div>
                <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
            </div>
            <nav class="nav">
                <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                Inicio</a>
                <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                Noticias</a>
                <div class="subcontainer">
                    <div class="submenu">
                      <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                        Guias
                        <ul class="submenu-list"> 
                            <li><a href="../views/mk.html">Mortal Kombat <hr></a></li> 
                           <li><a href="../views/guiagtasa.html">GTA SA <hr></a></li>
                            <li><a href="../views/guiam.html">Minecraft <hr></a></li>
                           <li><a href="../views/guiamegaman.html">MegaMan <hr></a></li>
                          <li><a href="../views/GuiaGodOfWar2.html">God Of War 2 <hr></a></li>
                           <li><a href="../views/guiare4.html">Resident Evil 4 <hr></a></li>
                       </ul>
                    </div>
                  </div>
                <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                eSports</a>
              <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                Trucos</a> 
            </nav>
            <div>
                <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>   
            </div>
        </div>
    </header>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../public/img/torneo.jpg">
                    <h2>Completa el torneo arcade</h2>
                    <p>los torneos se pueden completar con cualquier personaje del juego, ademas lo puedes hacer en
                     cualquier dificultad de toneos, estos torneos no son cosas del otro mundo ya que estos pueden
                    ser demaciados faciles si tenemos practicas, ademas estos torneos si los completamos nos dan 
                    algunas recompensas como skins o monedas </p>
                </article>   
                <article class="article">
                    <img src="../public/img/todas las fatalitys.gif">
                    <h2>Realiza un fatality con todos</h2>
                    <p>tendra que realizar cada unas de las fatalitys que hay en todo el juego, desde las mas faciles
                     hasta las mas dificiles, es recomendable hacer esto con un amigo ya que asi sera mas facil hacerlo
                     si tener los nervios de perder la pelea, pero si quieres lo puede hacer en solitario o multijugador</p>
                </article>    
                <article class="article">
                    <img src="../public/img/peleas online.jpg">
                    <h2>Completa 200 kombates versus</h2>
                    <p>esto actualmente no es facil debido al cierre de servidores oficiales del juego, pero se puede 
                    hacer con la ayuda de un amigo, cada pelea se puede ganar o perder ya que solo es importante jugar
                     una pelea con otro jugador mediante las peleas online, pero solo se pueden hacer con amigos 
                     actualmente debido al cierre de servidores sel multijugador</p>
                </article>
                <article class="article">
                    <img src="../public/img/sektor y cyrax.jpg">
                    <h2>Gana con Sektor y Cyrax</h2>
                    <p>para estos solo necesitaremos a los dos cyborg, es recomendableaprendeser sus repectivos combos
                      y asi ganar los toneos, te recomendamos practicar antes con los dos personajes en el modo tag
                     team, en este puedes practicar tus combos con los dos personajes, despues de eso veras que sera muy
                      facil ganar las peleas en el torneo</p>
                </article>
                <article class="article">
                    <img src="../public/img/gana peleas.jpg">
                    <h2>Gana 100 kombates en línea</h2>
                    <p>tendras que hacer combates con amigos, debido a que el online de este juego ya no se encuentra
                     disponible, no importa si los gana con fatalitys o no. este si o si tendras que ganar y hacerlo con
                      un amigo para hacer este logro debido a que los servidores del multijugador estan cerrados 
                      actualmente pero los jugadores pueden jugar multijugador solo con amigos</p>
                </article>
                <article class="article">
                    <img src="../public/img/kryptas.jpg">
                    <h2>Desbloquea el 100% de la Kripta</h2>
                    <p>la Kripta es una zona de cofres deonde se pueden conseguir varias recompensas, entre estas
                     recompensas se encuentran algunas skin para personajes y objetos coleccionables, para abrir 
                     los cofres de la Kripta se debe conseguir unas monedas especiales las cuales solo se pueden
                     conseguir jugando y ganando desafios en las torres de retos o en los torneos</p>
                </article>              
                <nav class="navegacion1">
                    <a href="../views/mk.html">1</a>
                    <a href="../views/mk2.html">2</a>
 
                </nav>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <img src="../public/img/giphy.gif">
                </div>
                <div class="publicidad">         
                    <img src="../public/img/publi2.gif">
                </div>
                <div class="publicidad">              
                    <img src="../public/img/giphy 2.gif">
            </div>
            </aside>
        </section>
        <footer>
            <div class="olas margen-interno">
                <div class="ola" id="ola1"></div>
                <div class="ola" id="ola2"></div>
                <div class="ola" id="ola3"></div>
                <div class="ola" id="ola4"></div>
            </div>
            <ul class="redsocial">
            <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
            <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
            </ul>
            <ul class="menufooter">
                <li><a href="#">UniverseFriki@gmail.com</a></li>
                <li><a href="#">Informacion Legal</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            
            </ul>
            <p>@2023 Universe Friki I All Rights Reserved</p>
        </footer>
    </body>
 </html>