<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <div class="padre">
        <header class="header ">
            <div class="menu margen-interno">
                <div>
                    <img class="imglogo" src="../public/img/logo.png.PNG" >
                </div>
                <nav class="nav">
                    <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                    </i>Inicio</a>
                    <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                    </i>Noticias</a>
                    <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                    </i>Guias</a>
                    <a href=""><ion-icon name="game-controller-outline"></ion-icon>
                    </i>Ea Sports</a>
                    <a href=""><ion-icon name="key-outline"></ion-icon>
                    </i>Trucos</a>
                </nav>
                <div class="imglogin1">
                <div class="imglogin1">
                    <a href="../views/Inicio de sesion.html">
                    <img src="../public/img/login.png">       
                    </a>

                </div>
            </div>
        </header>
        <section class="section margen-interno">
            <div class="articulos">
                <article class="article">
                    <img src="../public/img/Starfieldn.png">
                    <h2>Lanzamiento De Starfield</h2>
                    <p>A pesar de los rumores sobre su supuesta perfección, Starfield es un juego tan bugueado como cualquier otro de Bethesda o,
                     cuando menos, lo fue hasta el día lunes, previo al último parche. Pero este proyecto apunta tan alto y cumple con tantas 
                    de sus promesas, que el sentido común demanda que, como Skyrim, a Starfield se le aplique la indulgencia que no recibiría
                     cualquier otro juego porque hay evidencia de sobra como para afirmar que Starfield no es cualquier otro juego</p>
                    </h2>
                </article>   
                <article class="article">
                    <img src="../public/img/DoctorDisrespect.jpg">
                    <h2>DoctorDisrespect En MK 11</h2>
                    <p>Tras ver el tráiler lanzado en la Gamescom, el famoso streamer de YouTube le dio una calificación de 4 estrellas sobre 5 y
                    agregó un comentario: "¿Podemos incluir a Doc en el juego?" Obviamente, esto fue en tono de broma, pero parece que el
                     creador de contenido se lo tomó más en serio de lo que parecía, ya que incluso tiene en mente un Fatality adecuado
                      para su personaje. Para llevar a cabo esta muerte famosa y dolorosa, el streamer usaría su Lamborghini para atropellar
                     de manera sangrienta al enemigo que se encuentra aturdido frente a él. Para comenzar, Doc imagina a su personaje
                     recibiendo una llamada en su teléfono mientras ejecuta el Fatality, a lo que responde con su voz tan reconocida</p>
                </article>    
                <article class="article">
                    <img src="../public/img/TES.jpg">
                    <h2>The Elder Scrolls IV</h2>
                    <p>Pete Hines, vicepresidente de Bethesda Softworks, ha concedido una entrevista con el medio Vandal donde confirma que
                    The Elder Scrolls 6 ya no está en fase conceptual, sino que su producción ya ha comenzado. "No. Está en desarrollo,
                    pero desarrollo temprano", señaló a la pregunta sobre si seguía en etapa de concepto. Aunque esta sea una noticia
                     esperada por muchos, todo apunta a que seguiremos sin recibir noticias sobre este juego durante un tiempo</p>
                </article>
                <article class="article">
                    <img src="../public/img/Activision.jpeg">
                    <h2>Activision VS Toxicidad </h2>
                    <p>Activision hará uso de la inteligencia artificial para expulsar a los jugadores que insulten. El objetivo es reducir
                    las "expresiones de odio, lenguaje discriminatorio, acoso, etc." del chat de voz del multijugador de Call of Duty.
                    Este sistema recibe el nombre de ToxMod y lo que pretende es detectar en tiempo real palabras clave específicas para 
                    luego enviar "informes sobre comportamientostóxico</p>
                </article>
                <article class="article">
                    <img src="../public/img/gow2.jpg">
                    <h2 class="h2w">Guia de God Of War 2</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                </article>
                <article class="article">
                    <img src="../public/img//re4.jpg">
                    <h2>Guia de Resident Evil 4</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore adipisci voluptatibus dicta aperiam ea ipsa distinctio molestias atque
                    tempore ut officiis odio aut sint quisquam, iusto amet, repellendus maxime nisi!</p>
                </article>
                <nav class="navegacion1">
                    <a href="#">Inicio</a>
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="">5</a>
                    <a href="">6</a>
                    <a href="#">Final</a>
                </nav>
            </div>
            <aside class="aside">
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../public/img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../public/img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../public/img/galaxia.jpg">
                </div>
                <div class="publicidad">
                    <h4>Publicidad</h4>
                    <img src="../public/img/galaxia.jpg">
                </div>
            </div>
            </aside>
        </section>
        <footer>
            <div class="olas margen-interno">
                <div class="ola" id="ola1"></div>
                <div class="ola" id="ola2"></div>
                <div class="ola" id="ola3"></div>
                <div class="ola" id="ola4"></div>
            </div>
            <ul class="redsocial">
            <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
            <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
            </ul>
            <ul class="menufooter">
                <li><a href="#">UniverseFriki@gmail.com</a></li>
                <li><a href="#">Informacion Legal</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            
            </ul>
            <p>@2023 Universe Friki I All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>