<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trucos</title>
    <link rel="stylesheet" href="../public/css/style.css">   
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../public/img/logo.png.PNG" type="image/x-icon">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header  class="header ">
        <div class="menu margen-interno"> 
            <div>
                <a href="../views/index.html"><img class="imglogo" src="../public/img/logo.png.PNG" ></a>
            </div>
            <nav class="nav">
                <a href="../views/index.html"><ion-icon name="planet-outline"></ion-icon>
                Inicio</a>
                <a href="../views/Noticias.html"><ion-icon name="newspaper-outline"></ion-icon>
                Noticias</a>
                <div class="subcontainer">
                    <div class="submenu">
                      <a href="../views/Guias.html"><ion-icon name="skull-outline"></ion-icon>
                        Guias
                        <ul class="submenu-list"> 
                            <li><a href="../views/mk.html">Mortal Kombat <hr></a></li> 
                           <li><a href="../views/guiagtasa.html">GTA SA <hr></a></li>
                            <li><a href="../views/guiam.html">Minecraft <hr></a></li>
                           <li><a href="../views/guiamegaman.html">MegaMan <hr></a></li>
                          <li><a href="../views/GuiaGodOfWar2.html">God Of War 2 <hr></a></li>
                           <li><a href="../views/guiare4.html">Resident Evil 4 <hr></a></li>
                       </ul>
                    </div>
                  </div>
                <a href="../views/Ea.html"><ion-icon name="game-controller-outline"></ion-icon>
                eSports</a>
              <a href="../views/Trucos.html"><ion-icon name="key-outline"></ion-icon>
                Trucos</a> 
            </nav>
            <div>
                <a href="../views/Inicio de sesion.html"> <img class="imglogin1" src="../public/img/login.png"> </a>   
            </div>
        </div>
    </header>
    <section class="section margen-interno">
        <div class="articulos">
               <article class="article">
                <img src="../public/img/gtattrucos.jpg">
                <h2>Grand Theft Auto San Andreas </h2>
               <p>A continuacion te mostraremos algunos trucos de Grand Theft Auto San Andreas  de la version dePlaystation 2
               <br><a> Jetpack:</a>
                     L1, L2, R1, R2, Arriba, abajo, izquierda, derecha, L1, L2, R1, R2, arriba, abajo, izquierda, derecha.
                    <br><a>Jet / caza (Hydra):</a>
                    Triángulo, triángulo, cuadrado, círculo, X, L1, L1, abajo, arriba.
                      <br><a>Coche de carreras:</a> 
                     R1, círculo, R2, derecha, L1, L2, X, X, cuadrado, R1.
                    <br><a>Todos los coches tienen nitro:</a>
                     Izquierda, triángulo, R1, L1, arriba, cuadrado, triángulo, abajo, círculo, L2, L1, L1.
                    <br><a>Todos los taxis con nitro y salto:</a>
                     Arriba, X, triángulo, X, triángulo, X, cuadrado, R2, derecha.
                     <br><a>Conducción perfecta (Los choches giran al máximo):</a>
                      Triángulo, R1, R1, izquierda, R1, L1, R2, L1.
                    <br><a>Coches voladores:</a>
                     Cuadrado, abajo, L2, arriba, L1, círculo, arriba, X, izquierda. </p>                    
            </article>
            <article class="article">
                <img src="../public/img/minecrafttrucos.gif">
                <h2>Minecraft</h2>
                <p>Como muchos otros juegos, minecraft ofrece la posibilidad de introducir comandos qué activan trucos
                 en determinadas versiones del juego. En principio, esto están disponible en todas las versiones del
                 juego de pc y movil pero no en todas las versiones de consola.
                 <br><a>COMO INTRODUCIR COMANDOS</a><br>
                 En este caso en concreto y a diferencia de otros juegos, no hay que abrir una consola de comandos, 
                 basta con teclear en la barra de chat las ordenes correctas para hacer qué el truco se active. Si estas
                  jugando en la versión de sobremesa, esto se hace pulsando la tecla T. La versión pocked del juego
                   tiene un botón específico para iniciar chat y desplegar la ventana
                   <br><a>Los @ en comandos son para referirnos a entidades del juego</a><br>
                   @p: el jugador más cercano<br>
                    @r: un jugador al azar<br>
                    @a: todos los jugadores<br>
                    @e: todas las entidades<br>
                    @s: la entidad qué ejecuta el comando<br>

                </p>
            </article>   
            <article class="article">
                <img src="../public/img/gtasapesas.gif">
                <h2>Trucos de armas , munición , salud y autos</h2>              
                <p>
                  <br><a>Coches invisibles:</a>
                     Triángulo, L1, triángulo, R2, cuadrado, L1, L1.
                     <br><a>Gana 250.000$, vida al máximo y 100% de blindaje:</a>
                     R1, R2, L1, X, izquierda, abajo, derecha, arriba, izquierda, abajo, derecha y arriba.
                     <br><a>Invencibilidad:</a>
                    Abajo, X, derecha, izquierda, derecha, R1, derecha, abajo, arriba, triángulo.   
                    <br><a>Pack de armas 1:</a>
                     R1, R2, L1, R2, Izquierda, Abajo, Derecha, Arriba, Izquierda, Abajo, Derecha, Arriba. 
                    <br><a>Pack de armas 2:</a>
                     R1, R2, L1, R2, Izquierda, Abajo, Derecha, Arriba, Izquierda, Abajo, Abajo, Izquierda. 
                     <br><a>Pack de armas 3:</a>
                      R1, R2, L1, R2, Izquierda, Abajo, Derecha, Arriba, Izquierda , Abajo, Abajo, Abajo. 
                      <br><a>Munición infinita:</a>
                       L1, R1,Cuadrado, R1, izquierda, R2, R1, izquierda, cuadrado, abajo, L1,L1.                             
                    </p>
            </article>    
            <article class="article">
                <img src="../public/img/minecrafttrucos2.jpg">
                <h2>Dificultades y modos de juego</h2>
                <p><br><li>/gamemode 0: cambias de modo supervivencia</li>
                    <br><li>/gamemode 1: cambias a modo creativo</li>
                    <br><li>/gamemode 2: cambias a modo aventura</li>
                   <br><li>/gamemode 3: cambias a modo espectador</li>
                    <br><li>/difficulty peaceful: cambia a modo pacifico</li>
                    <br><li>/difficulty easy: cambia a modo facil</li>
                    <br><li>/difficulty normal: cambia a modo normal</li>
                   <br><li>/difficulty hard: cambia a modo difícil</li>
                    
                    
                </p>
            </article>
            <article class="article">
                <img src="../public/img/gtatrucos2.webp">
                <h2>Habilidades y poderes especiales</h2>                  
                <p><a>Nivel de asesino en todas las armas:</a>
                     Abajo, cuadrado, X, izquierda, R1, R2, izquierda, abajo, abajo, L1, L1, L1 
                     <br><a>Habilidad de vuelo y de conducción al máximo:</a>
                     Cuadrado, L2, X, R1, L2, L2, izquierda, R1, derecha, L1, L1, L1.    
                      <br><a>Musculatura al máximo:</a>
                     Triángulo, arriba, arriba, izquierda, derecha, cuadrado, círculo, izquierda.
                     <br><a>Respeto al máximo:</a>
                     L1, R1, triángulo, abajo, R2, X, L1, arriba, L2, L2, L1, L1.
                     <br><a>Resistencia al máximo:</a>
                      Arriba, X, triángulo, X, triángulo, X, cuadrado, R1, derecha.
             </p>        
            </article>
            <article class="article">
                <img src="../public/img/minecrafttrucos3.jpg">
                <h2>comandos Varios</h2>
                <p><br>/ban: banea a un jugador
                    <br>/clear: elimina elementos del inventario del jugador
                    <br>/clone: copia bloques de un lugar a otro
                    <br>/data: obtiene, funciona, modifica y elimina datos de entidades de bloque y entidades NBT
                    <br>/fill: llena una región con un bloque específico
                    <br>/effects: agrega o elimina efectos de estado
                   <br> /function: ejecuta una funcion
                    <br>/loot: suelta objetos del inventario hacia el piso
                    <br>/msg: muestra un mensaje privado a otro jugador
                    <br>/op: otorga estatus de operador a un jugador
                    <br>/particle: crea particulas
                    <br>/ride: convierte en criatura con montura a la criatura qué este mirando en ese momento
                    <br>/seed: entrega el código de la semilla del mundo
                    /save: crea una copia de seguridad</p>
            </article>
        </div>
    </section>   
        <footer>
            <div class="olas margen-interno">
                <div class="ola" id="ola1"></div>
                <div class="ola" id="ola2"></div>
                <div class="ola" id="ola3"></div>
                <div class="ola" id="ola4"></div>
            </div>
            <ul class="redsocial">
            <li><a href=""> <img src="../public/img/logofooter.png.png"> </a></li>
            <li><a href="#"> <img src="../public/img/ig.png"> </a></li>
            </ul>
            <ul class="menufooter">
                <li><a href="#">UniverseFriki@gmail.com</a></li>
                <li><a href="#">Informacion Legal</a></li>
                <li><a href="#">Politica de Privacidad</a></li>
            
            </ul>
            <p>@2023 Universe Friki I All Rights Reserved</p>
        </footer>
    </div>
</body>
</html>