*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
     font-family: 'Arimo', sans-serif;
     display: flex;
    flex-flow: column nowrap; 
    background-image: url(../img/fondo1.png);
    background-repeat: no-repeat;
 background-size: cover;
    
   
}
a{
    text-decoration: none;
}

.margen-interno{
    padding: 0 50px;
}
/* Inicio navegacion */
    .header{
     
        display:flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100%;
    }
        .menu{
            background: #441c94;
            display: flex;
            height: 170px;
            width: 100%;
            align-items: center;
            border-bottom: 3px solid #fff;
            justify-content: space-around;
            justify-content: center;

        }
        .subcontainer {
          position: relative;
          display: inline-block;
        }
        
        .submenu {
          position: relative;

        } 
        .submenu-list {
          visibility: hidden;
          position: absolute;
          background-color: #441c94;
          border: 2px solid #ccc;
          padding: 0;
          list-style: none;
          margin: 0;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          z-index: 100;
          height: 0;
          letter-spacing: 2px;
        }
        .submenu:hover
          .submenu-list{
            translate: 10px;
            visibility: visible;
            transition: .2s;
            height: 420px;
        }
        .submenu-list li {
          padding: 0px;
          translate: 0px -30px;
        }
        .container:hover .submenu-list {
          display: block;
        }
        .imglogo{
           width: 150px;
          height: 147px;
          translate: -40px 1px;
          transition: transform 0.3s ease;
        }
        .imglogo:hover{
          transform: translateY(-10px);
      }
         .imglogin1{ 
            translate: 35px 1px;
            transition: transform 0.3s ease;
         }
         .imglogin1 li{
           list-style: none;
         }
         .imglogin1 a{
           color: #fff;
           translate: 35px 25px;
           display: inline-block;
           }      
           .imglogin1:hover{
            transform: translateY(-10px);
        }

                .nav a{
                  display: inline-block;
                    color:#fff;
                    font-size: 35px;
                    padding: 0 30px;
                    transition: transform 0.3s ease;
                }
                    nav a:hover{
                    transform: translateY(-10px);
                }

/* Final navegacion */
/* Inicio slider */
  .slider {
    position: relative;
    width: 70%;
    height: 750px;
    margin: auto;
    translate: 0px 25px;
    overflow: hidden;
    border-radius: 20px;
  }
  .slider .slider-container {
    display: flex;
    width: 500px;
    height: 600px;
    transition: transform 1.5s ease;
    transform: translateX(0);
  }
  .slider .slider-container .slider-item {
    width: 100%;
    height: 100%;
  }
  .slider .slider-container .slider-item img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    border-radius: 20px;
  }
  .slider .slider-container .slider-item.active {
    transform: translateX(-100%);
  }    
/* Final slider*/    

    
 @media all and (max-width: 1100px){
  .section{
    flex-direction: column;
}

  .menu{
    flex-direction: column;
    height: 1%;
    width: 100%;   
    align-items: center;
    border-bottom: 3px solid #fff;
    justify-content: space-around;
    justify-content: center;
  }
  .aside{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center
  }
  .footer{
    width: 100%;
    height: 30%;
  }
  .aside{
    display: flex;
    justify-content: center;
  }
  .slider {
    position: relative;
    width: 700px;
    height: 500px; 
    margin: auto;
    translate: 0px 25px;
    overflow: hidden;
    border-radius: 20px;      
 }
.slider .slider-container {
display: flex;
height: 350px;
width: 700px;
}
.imglogo{
  width: 170px;
 height: 167px;
 translate: -40px 1px;
 flex:1 1 auto;
}
.imglogin1{ 
    display: flexbox;
    width: 170px;
    height: 167px;
    translate: -40px 1px;
}
}
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
      flex-direction: column;
      height: 30%px;
      width: 100%;   
      align-items: center;
      border-bottom: 3px solid #fff;
      justify-content: space-around;
      justify-content: center;
    }
    .publicidad{
      flex-direction: column;
    }
  .footer{
    width: 100%;
    height: 30%;
  }
    .aside{
        display: flex;
        justify-content: center;
    }
    .slider {
      position: relative;
      width: 600px;
      height: 500px;
      margin: auto;
      translate: 0px 25px;
      overflow: hidden;
      border-radius: 20px;
    
    }
    .slider .slider-container {
      display: flex;
      height: 350px;
      }
      .imglogo{
        width: 170px;
       height: 167px;
       translate: -40px 1px;
       flex:1 1 auto;
     }
      .imglogin1{ 
          display: flexbox;
          width: 170px;
          height: 167px;
          translate: -40px 1px;
         
      }
}
@media all and (max-width: 600px){
    .article{
        flex-direction: column;
    }
    .footer{
      width: 100%;
      height: 30%;
    }
    .menu{
      flex-direction: column;
      height: 30%;
      width: 100%;   
      align-items: center;
      border-bottom: 3px solid #fff;
      justify-content: space-around;
      justify-content: center;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
        flex-direction: column;
    }
    .article{
      flex-direction: column;
    }
    .section{
      flex-direction: column;
    }
    .footer{
      width: 100%;
      height: 30%;
    }
    .menu{
      flex-direction: column;
      height: 30%;
      width: 100%;   
      align-items: center;
      border-bottom: 3px solid #fff;
      justify-content: space-around;
      justify-content: center;
    }
    .publicidad{
      width: 100%;
    }
}
/* Final Index */

/* PAgina Noticias*/

/* Inicio Articles */           
    .section{
        background-image: url(../img/imgfondo2.jpg);
        display: flex;
        height: 2500px;
        width: 100%;
    }

        .articulos{
            
            flex:2 1 100%;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex:1 1 40%;
                color: #fff;
                font-size: 15px;
                letter-spacing: 2px;
                margin: 33px 33px 10px 0px;
                background-color: #441c94; 
                 
                border-radius: 15px;
              
            }
            
            .article img{
               width: 100%;
               height: 350px;
               border-radius: 15px;
            }
            .article a{
                color: #fff;
                font-size: 17px;
                padding: 15px;
                background: #000;   
                display: inline-block;
                border-radius: 10px;
                margin-top: 3px;
            }
            #guia a{
              color: #fff;
              font-size: 15px;
              padding: 6px;
              background: #000;   
              display: inline-block;
              border-radius: 10px;
              margin-top: 3px;
            }
            .article a:hover{
                background: #546cc3;
            }  
             .article h2{
              font-size: 33px;
              opacity: 0.9;
              background: #000;
              translate: 4px -55px;
              display: inline-block;
              border-radius: 10px;
              
            }
            .article li{
              margin-top: 5px;
              font-size: 20px;
            }
            h3{
                color: #fff;
                font-size: 15px;
                padding: -10px 0;
              
            }
            .article p{
              margin-top: -30px;
              font-size: 20px;
          
            }

            .navegacion1{
                background: #441c94;
                padding: 10px;
                border-radius: 15px; 
                height: 70px;
                width: 1149px;
                translate: 0px 25px;  
                text-align: center;
            }
            .navegacion1 a{
                color: #fff;
                font-size: 50px;
                text-transform: uppercase;
                padding: 1px 170px;
                letter-spacing: 2px; 
                
                
                
            }
        .aside{
           
            margin: 10px 0px 0px 3px;
            
        } 
          .aside img{
            width: 400px;
            height: 355px; 
            border-radius: 15px;
             margin-top: 20px;
        }


/* Final Articles */
/*  Inicio footer */

footer {
  position: relative;
  width: 99.9%;
  background: #4e21a8;
  min-height: 10px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin-top: 110px;


}
.redsocial,
.menufooter{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -10px 0;
 
 
}
.menufooter li{
  padding: 10px 20px;
  translate: -20px;
}
  .article a:hover{
  background: #546cc3;
 }  
.redsocial li,
.menufooter li{
  list-style: none;
}
.redsocial li a{
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.menufooter li a{
  font-size: 25px;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75; 
  opacity: 1;

}
.redsocial li a:hover{
  transform: translateY(-10px);

}
.menufooter a:hover{
  background: #546cc3;
}  
footer p{
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}
.ola{
   position: absolute;
   top: -100px;
   opacity: 0;
   left: 0;
   width: 100%;
   height: 100px;
   background:  url(../img/wave\ .png);
   background-size: 1000px 100px;
  }

.ola#ola2{
  z-index: 999;
  opacity: 0.8;
  bottom: 10px;
  animation: animatewave_02 5s linear infinite;
}
.ola#ola3{
  z-index: 1000;
  opacity: 0.9;
  bottom: 15px;
  animation: animatewave 3s linear infinite;
}
.ola#ola4{
  z-index: 999;
  opacity: 1;
  bottom: 20px;
  animation: animatewave_02 4s linear infinite;
}
@keyframes animatewave{
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px
  }
}
@keyframes animatewave_02{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px
  }
}


#iniciosesion{
  overflow-y: hidden;
}
/* Inicio Inicio de sesion */
.registrarse2{
    list-style: none;
  }
  .formulario1{
    position: absolute;
    width: 410px;
    height: 400px;
    background: rgb(235, 235, 235);
    top: 30%;
    left: 38%;
    border: 2px solid   rgb(145, 57, 145);
    box-shadow: 2px 3px 4px rgb(34, 34, 34);
    border-radius: 8px;
  }
  .formulario2{
    position: absolute;
    width: 410px;
    height: 500px;
    background: rgb(235, 235, 235);
    top: 30%;
    left: 38%;
    border: 2px solid   rgb(145, 57, 145);
    box-shadow: 2px 3px 4px rgb(34, 34, 34);
    border-radius: 8px;
  }
  .formulario1 h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: linear-gradient(150deg, rgb(145, 57, 145), rgb(75, 75, 255));
    border-radius: 8px 8px 0 0;
  }
  .formulario2 h1{
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    background: linear-gradient(150deg, rgb(145, 57, 145), rgb(75, 75, 255));
    border-radius: 8px 8px 0 0;
  }


  .formulario1 form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  .formulario2 form{
    padding: 0 40px;
    box-sizing: border-box;
  }

  form .usuario1{
    position: relative;
    border-bottom: 2px solid #535353;
    margin: 30px 0;
  }
  .usuario1 input{
    width: 100%;
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .usuario1 label{
    top: 20%;
    color: rgb(58, 58, 58);
    transform: translateY(-25%);
    font-size: 18px;
    pointer-events: none;
  }
  .usuario1 span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(0, 0, 0);
  }

  .usuario1 input:focus ~ label,
  .usuario1 input:focus ~ label{
    top: -5px;
    color: rgb(0, 0, 0);
  }
  .usuario1 input:focus ~ span::before,
  .usuario1 input:focus ~ span::before{
    width: 100%;
  }
  .recordar1{
    margin: 24px 0 20px 5px;
    text-align: center;
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  .recordar1 a{
    color: rgb(68, 17, 102);
    text-decoration: none;
  }
  .recordar1:hover{
    text-decoration: underline;
  }
  .boton_iniciar{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: linear-gradient(150deg, rgb(145, 57, 145), rgb(75, 75, 255));
    border-radius: 25px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    outline: none ;
  }
  .boton_iniciar:hover{
    border-color: black;
    transition: .5s;
  }
  .registrarse1{
    margin: 15px 0;
    text-align: center;
    font-size: 18px;
    color: black;
  }
  .registrarse1 a{
    color: rgb(68, 17, 102);
    text-decoration: none;
  }
  .registrarse1:hover{
    text-decoration: underline;
 }
/* Fin de Inicio de sesion */